
main{
  margin: 0 auto;
  background: white;
  
}

label {
  padding: 1rem 0;
}
input {
  padding: 0.6rem;
  outline: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  &::placeholder{
    color: black;
    text-align: left;
    font-size: 12px;
  }
}